Source: uwsgi
Section: web
Priority: extra
Maintainer: Leonid Borisenko <leo.borisenko@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-all-dev, python3-all-dev,
 libxml2-dev, libsctp-dev, erlang-dev, libpcre3-dev, libldap2-dev,
 liblua5.1-0-dev, libperl-dev, ruby, ruby-dev, apache2-threaded-dev,
 libapr1-dev, libaprutil1-dev, help2man
Standards-Version: 3.9.1
Homepage: http://projects.unbit.it/uwsgi/
Vcs-Git: git://git.debian.org/collab-maint/uwsgi.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/uwsgi.git

Package: uwsgi
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
  uwsgi-python2.6 (>= ${binary:Version})
  | uwsgi-python2.5 (>= ${binary:Version})
  | uwsgi-python3.1 (>= ${binary:Version})
Description: fast, self-healing, developer-friendly WSGI server
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This dependency package provides uWSGI server for serving on user-selectable
 Python version(s).

Package: uwsgi-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fast, self-healing, developer-friendly WSGI server (common files)
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides:
   * files with supplementary functions for init.d script of uWSGI server
   * uWSGI usage examples
   * uWSGI test suite

Package: uwsgi-python2.5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.5,
 uwsgi-common (= ${binary:Version})
Provides: httpd-wsgi
Recommends: libapache2-mod-uwsgi | libapache2-mod-ruwsgi
Suggests: uwsgi-plugin-lua, uwsgi-plugin-psgi, uwsgi-plugin-rack, uwsgi-extra
Description: fast, self-healing, developer-friendly WSGI server (Python 2.5)
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides uWSGI for serving on Python 2.5.

Package: uwsgi-python2.6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.6,
 uwsgi-common (= ${binary:Version})
Provides: httpd-wsgi
Recommends: libapache2-mod-uwsgi | libapache2-mod-ruwsgi
Suggests: uwsgi-plugin-lua, uwsgi-plugin-psgi, uwsgi-plugin-rack, uwsgi-extra
Description: fast, self-healing, developer-friendly WSGI server (Python 2.6)
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides uWSGI for serving on Python 2.6.

Package: uwsgi-python3.1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3.1,
 uwsgi-common (= ${binary:Version})
Provides: httpd-wsgi
Recommends: libapache2-mod-uwsgi | libapache2-mod-ruwsgi
Suggests: uwsgi-plugin-lua, uwsgi-plugin-psgi, uwsgi-plugin-rack, uwsgi-extra
Description: Fast, self-healing, developer-friendly WSGI server (Python 3.1)
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides uWSGI for serving on Python 3.1.

Package: uwsgi-plugin-lua
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uwsgi
Description: Lua WSAPI plugin for uWSGI
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Lua WSAPI plugin for uWSGI.

Package: uwsgi-plugin-psgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uwsgi
Description: Perl PSGI plugin for uWSGI
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Perl PSGI plugin for uWSGI.

Package: uwsgi-plugin-rack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uwsgi
Description: Ruby Rack plugin for uWSGI
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Ruby Rack plugin for uWSGI.

Package: libapache2-mod-uwsgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, uwsgi
Conflicts: libapache2-mod-ruwsgi
Replaces: libapache2-mod-ruwsgi
Description: uWSGI module for Apache2 (mod_uwsgi)
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides Apache2 module for uWSGI.
 .
 This is the first module developed, it is stable but a bit hacky (it does not
 fully use the Apache2 API).

Package: libapache2-mod-ruwsgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, uwsgi
Conflicts: libapache2-mod-uwsgi
Replaces: libapache2-mod-uwsgi
Description: uWSGI module for Apache2 (mod_Ruwsgi)
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides Apache2 module for uWSGI.
 .
 This is the second module developed and it's more Apache2 API friendly.
 mod_Ruwsgi is provided starting from the 0.9.6-dev version.

Package: uwsgi-extra
Architecture: any
Depends: ${misc:Depends}
Description: fast, self-healing, developer-friendly WSGI server (extra files)
 uWSGI is aimed for professional python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides extra files from uWSGI distribution:
   * nginx module source
   * lighttpd module source
   * contribs
   * Django-based uWSGI administration app (uwsgi_admin)
