Source: uwsgi
Section: web
Priority: extra
Maintainer: Leonid Borisenko <leo.borisenko@gmail.com>
Uploaders: Stephen Crosby <stevecrozz@gmail.com>
Build-Depends: cdbs, debhelper (>= 8), python, python-all-dev, python3-all-dev,
 libxml2-dev, libsctp-dev, erlang-dev, libpcre3-dev, libldap2-dev,
 liblua5.1-0-dev, libperl-dev, ruby, ruby-dev, apache2-threaded-dev,
 libapr1-dev, libaprutil1-dev, help2man
Standards-Version: 3.9.2
Homepage: http://projects.unbit.it/uwsgi/
Vcs-Git: git://git.debian.org/collab-maint/uwsgi.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/uwsgi.git

Package: uwsgi-common
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fast, self-healing, developer-friendly WSGI server (common files)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides:
   * files with supplementary functions for init.d script of uWSGI server
   * uWSGI usage examples
   * uWSGI test suite

Package: uwsgi-python
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, uwsgi-common (= ${binary:Version})
Provides: httpd-wsgi
Suggests: nginx-full | libapache2-mod-uwsgi | libapache2-mod-ruwsgi,
 uwsgi-plugins-all, uwsgi-extra
Description: fast, self-healing, developer-friendly WSGI server (Python 2)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides uWSGI for serving on Python 2.X.

Package: uwsgi-python-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}, uwsgi-python (= ${binary:Version})
Description: debugging symbols for uWSGI server (Python 2)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package contains the debug symbols for uWSGI compiled with Python 2.X
 support. Install this package if you need to debug such a program or if you
 need a useful backtrace of a crash.

Package: uwsgi-python3
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, uwsgi-common (= ${binary:Version})
Provides: httpd-wsgi
Suggests: nginx-full | libapache2-mod-uwsgi | libapache2-mod-ruwsgi,
 uwsgi-plugins-all, uwsgi-extra
Description: fast, self-healing, developer-friendly WSGI server (Python 3)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides uWSGI for serving on Python 3.X.

Package: uwsgi-python3-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}, uwsgi-python3 (= ${binary:Version})
Description: debugging symbols for uWSGI server (Python 3)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package contains the debug symbols for uWSGI compiled with Python 3.X
 support. Install this package if you need to debug such a program or if you
 need a useful backtrace of a crash.

Package: uwsgi-plugins-all
Architecture: any
Depends: ${misc:Depends},
 uwsgi-plugin-lua (= ${binary:Version}),
 uwsgi-plugin-psgi (= ${binary:Version}),
 uwsgi-plugin-rack (= ${binary:Version})
Description: all available plugins for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This dependency package provide all available plugins for uWSGI, namely:
 .
   * Lua WSAPI plugin
   * Perl PSGI plugin
   * Ruby Rack plugin

Package: uwsgi-plugin-lua
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lua WSAPI plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Lua WSAPI plugin for uWSGI.

Package: uwsgi-plugin-psgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Perl PSGI plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Perl PSGI plugin for uWSGI.

Package: uwsgi-plugin-rack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ruby Rack plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Ruby Rack plugin for uWSGI.

Package: libapache2-mod-uwsgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2
Conflicts: libapache2-mod-ruwsgi
Replaces: libapache2-mod-ruwsgi
Description: uWSGI module for Apache2 (mod_uwsgi)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides Apache2 module for uWSGI.
 .
 This is the first module developed, it is stable but a bit hacky (it does not
 fully use the Apache2 API).

Package: libapache2-mod-ruwsgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2
Conflicts: libapache2-mod-uwsgi
Replaces: libapache2-mod-uwsgi
Description: uWSGI module for Apache2 (mod_Ruwsgi)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides Apache2 module for uWSGI.
 .
 This is the second module developed and it's more Apache2 API friendly.
 mod_Ruwsgi is provided starting from the 0.9.6-dev version.

Package: python-django-uwsgi-admin
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}, uwsgi-python, python-django
Description: Django application for administering uWSGI server
 uwsgi_admin is a small Django application that:
 .
   * shows some information about current uWSGI state
   * allows one to reload uWSGI from web-interface
 .
 This application must be served with uWSGI.

Package: uwsgi-extra
Architecture: any
Depends: ${misc:Depends}
Description: fast, self-healing, developer-friendly WSGI server (extra files)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides extra files from uWSGI distribution:
   * nginx 0.7.x module source
   * lighttpd module source
   * contribs
