Source: uwsgi
Section: web
Priority: extra
Maintainer: Leonid Borisenko <leo.borisenko@gmail.com>
Uploaders: Stephen Crosby <stevecrozz@gmail.com>
Build-Depends: cdbs, debhelper (>= 8), python, python-all-dev, python3-all-dev,
 python-greenlet-dev, libxml2-dev, libsctp-dev, erlang-dev, libpcre3-dev,
 libldap2-dev, liblua5.1-0-dev, libperl-dev, ruby, ruby-dev,
 apache2-threaded-dev, libapr1-dev, libaprutil1-dev, help2man
Standards-Version: 3.9.2
Homepage: http://projects.unbit.it/uwsgi/
Vcs-Git: git://git.debian.org/collab-maint/uwsgi.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/uwsgi.git

Package: uwsgi
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, uwsgi-core (= ${binary:Version})
Description: fast, self-healing, developer-friendly WSGI server
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package installs uWSGI core binary with additional infrastructure:
   * 'uwsgi' executable binary (which is symbolic link to uwsgi-core)
   * init.d script for running uWSGI daemon(s) with options defined in custom
     user-created configuration files

Package: uwsgi-core
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: httpd-wsgi
Suggests: nginx-full | libapache2-mod-uwsgi | libapache2-mod-ruwsgi,
 uwsgi-plugins-all, uwsgi-extra
Description: fast, self-healing, developer-friendly WSGI server (core)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides:
   * executable uWSGI core binary (built without any embedded plugins)
   * uWSGI usage examples
   * uWSGI test suite

Package: uwsgi-core-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}, uwsgi-core (= ${binary:Version})
Description: debugging symbols for uWSGI server
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package contains the debug symbols for uWSGI core binary. Install this
 package if you need to debug such a program or if you need a useful backtrace
 of a crash.

Package: uwsgi-plugins-all
Architecture: any
Depends: ${misc:Depends},
 uwsgi-plugin-cgi (= ${binary:Version}),
 uwsgi-plugin-echo (= ${binary:Version}),
 uwsgi-plugin-erlang (= ${binary:Version}),
 uwsgi-plugin-fastrouter (= ${binary:Version}),
 uwsgi-plugin-greenlet-python (= ${binary:Version}),
 uwsgi-plugin-http (= ${binary:Version}),
 uwsgi-plugin-lua (= ${binary:Version}),
 uwsgi-plugin-nagios (= ${binary:Version}),
 uwsgi-plugin-ping (= ${binary:Version}),
 uwsgi-plugin-psgi (= ${binary:Version}),
 uwsgi-plugin-python (= ${binary:Version}),
 uwsgi-plugin-python3 (= ${binary:Version}),
 uwsgi-plugin-rack (= ${binary:Version}),
 uwsgi-plugin-rpc (= ${binary:Version}),
 uwsgi-plugin-ugreen (= ${binary:Version})
Description: all available plugins for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This dependency package provide all available plugins for uWSGI, namely:
 .
   * CGI plugin
   * echo plugin
   * Erlang plugin
   * fastrouter plugin
   * HTTP plugin
   * Lua WSAPI plugin
   * Nagios plugin
   * ping plugin
   * Perl PSGI plugin
   * RPC plugin
   * Ruby Rack plugin
   * uGreen plugin

Package: uwsgi-plugin-cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CGI plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide CGI plugin for uWSGI.

Package: uwsgi-plugin-echo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: echo plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide echo plugin for uWSGI.

Package: uwsgi-plugin-erlang
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Erlang plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Erlang plugin for uWSGI.

Package: uwsgi-plugin-fastrouter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fastrouter plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide fastrouter plugin for uWSGI.

Package: uwsgi-plugin-greenlet-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-greenlet,
 uwsgi-plugin-python (= ${binary:Version})
Description: greenlet plugins for uWSGI (Python 2.X)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide greenlet plugins for uWSGI (for Python 2.X runtime).

Package: uwsgi-plugin-http
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HTTP plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide HTTP plugin for uWSGI.

Package: uwsgi-plugin-lua
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lua WSAPI plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Lua WSAPI plugin for uWSGI.

Package: uwsgi-plugin-nagios
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nagios plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Nagios plugin for uWSGI.

Package: uwsgi-plugin-ping
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ping plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide ping plugin for uWSGI.

Package: uwsgi-plugin-psgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Perl PSGI plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Perl PSGI plugin for uWSGI.

Package: uwsgi-plugin-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python plugins for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Python 2.X plugins for uWSGI.

Package: uwsgi-plugin-python3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python 3 plugins for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Python 3.X plugins for uWSGI.

Package: uwsgi-plugin-rack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ruby Rack plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide Ruby Rack plugin for uWSGI.

Package: uwsgi-plugin-rpc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RPC plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide RPC plugin for uWSGI.

Package: uwsgi-plugin-ugreen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: uGreen plugin for uWSGI
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provide uGreen plugin for uWSGI.

Package: libapache2-mod-uwsgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2
Conflicts: libapache2-mod-ruwsgi
Replaces: libapache2-mod-ruwsgi
Description: uWSGI module for Apache2 (mod_uwsgi)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides Apache2 module for uWSGI.
 .
 This is the first module developed, it is stable but a bit hacky (it does not
 fully use the Apache2 API).

Package: libapache2-mod-ruwsgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2
Conflicts: libapache2-mod-uwsgi
Replaces: libapache2-mod-uwsgi
Description: uWSGI module for Apache2 (mod_Ruwsgi)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides Apache2 module for uWSGI.
 .
 This is the second module developed and it's more Apache2 API friendly.
 mod_Ruwsgi is provided starting from the 0.9.6-dev version.

Package: python-django-uwsgi-admin
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}, uwsgi-python, python-django
Description: Django application for administering uWSGI server
 uwsgi_admin is a small Django application that:
 .
   * shows some information about current uWSGI state
   * allows one to reload uWSGI from web-interface
 .
 This application must be served with uWSGI.

Package: uwsgi-extra
Architecture: any
Depends: ${misc:Depends}
Description: fast, self-healing, developer-friendly WSGI server (extra files)
 uWSGI is aimed for professional Python webapps deployment and development.
 Over time it has evolved in a complete stack for networked/clustered Python
 applications, implementing message/object passing, RPC, process management and
 a plugin loading technology that can be used to add support for other
 languages or platform.
 .
 This package provides extra files from uWSGI distribution:
   * nginx 0.7.x module source
   * lighttpd module source
   * contribs
