#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

default_python = /usr/bin/python
builder = $(CURDIR)/uwsgiconfig.py
plugins_dir = plugins

# Search in debian/control for packages with name $(1)% and extract % in list.
list_pkgname_suffixes = $(strip \
	$(shell \
		grep "^Package: $(1)" $(CURDIR)/debian/control \
		| sed 's/Package: $(1)//' \
	) \
)

# List of Python's versions, for which uWSGI should be built
python_ver = $(call list_pkgname_suffixes,uwsgi-python)

# List of packaged plugins' names
plugins = $(call list_pkgname_suffixes,uwsgi-plugin-)

common_docs_collection_dir = $(CURDIR)/debian/uwsgi-common-files/docs

# List of packaged Apache2 modules' names
libapache2_mods = uwsgi Ruwsgi

ruwsgi_to_lc = $(subst Ruwsgi,ruwsgi,$(1))
ruwsgi_to_orig = $(subst ruwsgi,Ruwsgi,$(1))

# List of templates to instantiate for each uwsgi-pythonX.Y package
uwsgi_python_pkg_templates = dirs install default init.d logrotate \
                             docs manpages README.Debian init.d.custom \
                             postinst prerm

# List of templates to instantiate for each libapache2-mod-X package
# There is special-case template, not listed here: uwsgi.load.in
libapache2_mod_pkg_templates = install postinst prerm

# Returns substring after last '-' character
last_pkgname_component = $(lastword $(subst -, ,$(1)))

DEB_COMPRESS_EXCLUDE_uwsgi-common = .py .pl .xml .psgi .png
DEB_COMPRESS_EXCLUDE_uwsgi-extra = .class .java .rb .c

clean::
	# uWSGI executables
	$(RM) $(CURDIR)/uwsgi $(addprefix $(CURDIR)/uwsgi-python, $(python_ver))
	# intermediate compiled files
	$(RM) $(CURDIR)/*.o $(CURDIR)/uwsgiconfig.pyc
	# plugins
	for name in $(plugins); do \
		$(RM) $(CURDIR)/$${name}_plugin.so; \
		$(RM) $(CURDIR)/$(plugins_dir)/$$name/uwsgiplugin.pyc; \
	done
	# compiled Apache2 modules
	$(RM) -r $(CURDIR)/apache2/.libs
	$(RM) -r $(addprefix $(CURDIR)/apache2/mod_, $(foreach module_name, $(libapache2_mods), \
		$(addprefix $(module_name), .la .lo .slo) \
	))
	# collected common docs
	$(RM) $(common_docs_collection_dir)
	# instantiated uwsgi-pythonX.Y templates
	for type in $(uwsgi_python_pkg_templates); do \
		$(RM) $(addprefix $(CURDIR)/debian/uwsgi-python,$(addsuffix .$$type,$(python_ver))); \
	done
	# instantiated libapache2-mod-X templates
	for type in $(libapache2_mod_pkg_templates); do \
		$(RM) $(addprefix $(CURDIR)/debian/libapache2-mod-,$(addsuffix .$$type, $(call ruwsgi_to_lc, $(libapache2_mods)))); \
	done
	$(RM) $(addprefix $(CURDIR)/debian/,$(addsuffix .load, $(libapache2_mods)))
	# uwsgi-pythonX.Y manpages
	$(RM) $(addprefix $(CURDIR)/debian/uwsgi-python,$(addsuffix .8,$(python_ver)))
	# instantiated uwsgi-plugin-N.install files
	$(RM) $(addprefix $(CURDIR)/debian/uwsgi-plugin-,$(addsuffix .install,$(plugins)))
	# stampfiles
	$(RM) $(CURDIR)/debian/stamp-*

# Build uwsgi-python% package
$(patsubst %,build/uwsgi-python%,$(python_ver)):: build/% : %

# Build uwsgi-python% executable
$(patsubst %,uwsgi-python%,$(python_ver)):
	$(eval python = $(call last_pkgname_component,$@))
	$(eval alternative_priority = $(or \
		$(if $(findstring python2.6, $@), 75), \
		$(if $(findstring python2.5, $@), 50), \
		$(if $(findstring python3.1, $@), 25), \
		10 \
	))
	/usr/bin/$(python) $(builder) --build
	for type in $(uwsgi_python_pkg_templates); do \
		sed -e 's/@@uwsgi_binary@@/$@/g' \
			< $(CURDIR)/debian/uwsgi-python.$${type}.in \
			> $(CURDIR)/debian/$@.$${type}; \
		if [ "$${type}x" = "postinstx" ]; then \
			sed -ie 's/@@uwsgi_alternative_priority@@/$(alternative_priority)/g' \
				$(CURDIR)/debian/$@.$${type}; \
		fi; \
	done
	mv $(CURDIR)/uwsgi $(CURDIR)/$@

# Build uwsgi-plugin-% package
$(patsubst %,build/uwsgi-plugin-%,$(plugins)):: build/uwsgi-plugin-% : debian/stamp-plugin-%

# Build specific uWSGI plugin.
$(patsubst %,debian/stamp-plugin-%,$(plugins)):
	$(eval plugin_name = $(call last_pkgname_component,$(notdir $@)))
	$(default_python) $(builder) --plugin $(plugins_dir)/$(plugin_name)
	touch $@

# Build libapache2-mod-% package
$(patsubst %,build/libapache2-mod-%,$(call ruwsgi_to_lc,$(libapache2_mods))):: build/% : debian/stamp-%

# Build specific Apache2 module
$(patsubst %,debian/stamp-libapache2-mod-%,$(call ruwsgi_to_lc,$(libapache2_mods))):
	$(eval module_name = $(call ruwsgi_to_orig,$(call last_pkgname_component,$(notdir $@))))
	apxs2 -c \
		`apr-config --link-ld` `apu-config --link-ld` \
		$(CURDIR)/apache2/mod_$(module_name).c
	touch $@

install/uwsgi-common::
	mkdir $(common_docs_collection_dir)
	cp -r $(CURDIR)/tests $(common_docs_collection_dir)
	for subdir in conffile psgi wsgi; do \
		mkdir -p $(common_docs_collection_dir)/examples/$$subdir; \
	done
	for file in logo_uWSGI.png myadmin.py simple_logger.py staticfilesnmp.py; do\
		cp $(CURDIR)/$$file $(common_docs_collection_dir)/examples; \
	done
	for file in mega.xml uwsgi.xml; do \
		cp $(CURDIR)/$$file $(common_docs_collection_dir)/examples/conffile; \
	done
	for file in mojoapp.pl psgi.py test.psgi; do \
		cp $(CURDIR)/$$file $(common_docs_collection_dir)/examples/psgi; \
	done
	for file in hello_world_rrdtool.py mjpeg_stream.py simple_app.py \
	            simple_app_wsgi2.py testapp.py ugreenchat.py uploadtest.py \
	            ; do \
		cp $(CURDIR)/$$file $(common_docs_collection_dir)/examples/wsgi; \
	done
	chmod a-x $(common_docs_collection_dir)/examples/wsgi/ugreenchat.py

# Install uwsgi-python% package
$(patsubst %,install/uwsgi-python%,$(python_ver))::
	help2man \
		--name 'fast (pure C), self-healing, developer-friendly WSGI server' \
		--section 8 \
		--no-info \
		$(CURDIR)/$(cdbs_curpkg) \
		> $(CURDIR)/debian/$(cdbs_curpkg).8

# Install uwsgi-plugin-% package
$(patsubst %,install/uwsgi-plugin-%,$(plugins))::
	$(eval plugin_name = $(call last_pkgname_component,$(notdir $@)))
	sed -e 's/@@plugin_name@@/$(plugin_name)/g' \
		< $(CURDIR)/debian/uwsgi-plugin.install.in \
		> $(CURDIR)/debian/$(cdbs_curpkg).install

# Install libapache2-mod-% package
$(patsubst %,install/libapache2-mod-%,$(call ruwsgi_to_lc,$(libapache2_mods)))::
	$(eval module_name = $(call ruwsgi_to_orig,$(call last_pkgname_component,$(notdir $@))))
	sed -e 's/@@module_name@@/$(module_name)/g' \
		< $(CURDIR)/debian/uwsgi.load.in \
		> $(CURDIR)/debian/$(module_name).load
	for type in $(libapache2_mod_pkg_templates); do \
		sed -e 's/@@module_name@@/$(module_name)/g' \
			< $(CURDIR)/debian/libapache2-mod.$${type}.in \
			> $(CURDIR)/debian/$(notdir $@).$${type} ; \
	done

# Binary-post-install uwsgi-python% package
$(patsubst %,binary-post-install/uwsgi-python%,$(python_ver))::
	$(eval package_name = $(notdir $@))
	sed -e 's/@@uwsgi_binary@@/$(package_name)/g' \
		< $(CURDIR)/debian/uwsgi-python.etc.README.in \
		> $(CURDIR)/debian/$(cdbs_curpkg)/etc/uwsgi/$(package_name)/README
	$(eval sharedocdir = $(CURDIR)/debian/$(cdbs_curpkg)/usr/share/doc)
	ln -s ../uwsgi-common/tests $(sharedocdir)/$(cdbs_curpkg)/tests
	ln -s ../uwsgi-common/examples $(sharedocdir)/$(cdbs_curpkg)/examples
