#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

default_python = /usr/bin/python
builder = $(CURDIR)/uwsgiconfig.py
plugins_dir = plugins

# Search in debian/control for packages with name $(1)% and extract % in list.
list_pkgname_suffixes = $(strip \
	$(shell \
		grep "^Package: $(1)" $(CURDIR)/debian/control \
		| sed 's/Package: $(1)//' \
	) \
)

# List of Python's versions, for which uWSGI should be built
python_ver = $(call list_pkgname_suffixes,uwsgi-python)

# List of packaged plugins' names
plugins = $(call list_pkgname_suffixes,uwsgi-plugin-)

# List of templates to instantiate for each uwsgi-pythonX.Y package
uwsgi_python_pkg_templates = dirs install default init.d logrotate \
                             manpages README.Debian

# Returns substring after last '-' character
last_pkgname_component = $(lastword $(subst -, ,$(1)))

DEB_COMPRESS_EXCLUDE_uwsgi-extra = .class .java .rb

clean::
	# uWSGI executables
	$(RM) $(CURDIR)/uwsgi $(addprefix $(CURDIR)/uwsgi-python, $(python_ver))
	# intermediate compiled files
	$(RM) $(CURDIR)/*.o $(CURDIR)/*.pyc
	# plugins
	for name in $(plugins); do \
		$(RM) $(CURDIR)/$${name}_plugin.so; \
		$(RM) $(CURDIR)/$(plugins_dir)/$$name/uwsgiplugin.pyc; \
	done
	# compiled mod_uwsgi
	$(RM) -r $(CURDIR)/apache2/.libs $(addprefix $(CURDIR)/apache2/mod_uwsgi, .la .lo .slo)
	# instantiated uwsgi-pythonX.Y templates
	for type in $(uwsgi_python_pkg_templates); do \
		$(RM) $(addprefix $(CURDIR)/debian/uwsgi-python,$(addsuffix .$$type,$(python_ver))); \
	done
	# uwsgi-pythonX.Y manpages
	$(RM) $(addprefix $(CURDIR)/debian/uwsgi-python,$(addsuffix .8,$(python_ver)))
	# instantiated uwsgi-plugin-N.install files
	$(RM) $(addprefix $(CURDIR)/debian/uwsgi-plugin-,$(addsuffix .install,$(plugins)))
	# stampfiles
	$(RM) $(CURDIR)/debian/stamp-*

# Build uwsgi-python% package
$(patsubst %,build/uwsgi-python%,$(python_ver)):: build/% : %

# Build uwsgi-python% executable
$(patsubst %,uwsgi-python%,$(python_ver)):
	$(eval python = $(call last_pkgname_component,$@))
	$(eval build_executable = /usr/bin/$(python) $(builder) --build)
	$(if $(findstring python2.,$(python)), \
		CFLAGS="$(CFLAGS) -fno-strict-aliasing" $(build_executable), \
		$(build_executable) \
	)
	for type in $(uwsgi_python_pkg_templates); do \
		sed -e 's/@@uwsgi_binary@@/$@/g' \
			< $(CURDIR)/debian/uwsgi-python.$${type}.in \
			> $(CURDIR)/debian/$@.$${type}; \
	done
	mv $(CURDIR)/uwsgi $(CURDIR)/$@

# Build uwsgi-plugin-% package
$(patsubst %,build/uwsgi-plugin-%,$(plugins)):: build/uwsgi-plugin-% : debian/stamp-plugin-%

# Build specific uWSGI plugin.
$(patsubst %,debian/stamp-plugin-%,$(plugins)):
	$(eval plugin_name = $(call last_pkgname_component,$(notdir $@)))
	$(default_python) $(builder) --plugin $(plugins_dir)/$(plugin_name)
	touch $@

build/libapache2-mod-uwsgi:: debian/stamp-libapache2-mod-uwsgi

debian/stamp-libapache2-mod-uwsgi:
	apxs2 -c \
		`apr-config --link-ld` `apu-config --link-ld` \
		$(CURDIR)/apache2/mod_uwsgi.c
	touch $@

# Install uwsgi-python% package
$(patsubst %,install/uwsgi-python%,$(python_ver))::
	help2man \
		--name 'fast (pure C), self-healing, developer-friendly WSGI server' \
		--section 8 \
		--no-info \
		$(CURDIR)/$(cdbs_curpkg) \
		> $(CURDIR)/debian/$(cdbs_curpkg).8

# Install uwsgi-plugin-% package
$(patsubst %,install/uwsgi-plugin-%,$(plugins))::
	$(eval plugin_name = $(call last_pkgname_component,$(notdir $@)))
	sed -e 's/@@plugin_name@@/$(plugin_name)/g' \
		< $(CURDIR)/debian/uwsgi-plugin.install.in \
		> $(CURDIR)/debian/$(cdbs_curpkg).install

# Binary-post-install uwsgi-python% package
$(patsubst %,binary-post-install/uwsgi-python%,$(python_ver))::
	$(eval package_name = $(notdir $@))
	sed -e 's/@@uwsgi_binary@@/$(package_name)/g' \
		< $(CURDIR)/debian/uwsgi-python.etc.README.in \
		> $(CURDIR)/debian/$(cdbs_curpkg)/etc/uwsgi/$(package_name)/README
